<main>
    @if(tasks$|async; as taskArr){
    <div class="tasksHeader">
        <div class="tasksCount">{{taskArr.length|taskCount}}</div>
        <div class="tasksMenuRight">
            <mat-form-field id="tasksPriorityFilter">
                <mat-label>{{ 'tasks.header.filters.status' | translate }}</mat-label>
                <mat-select [(value)]="selectedPriority" (selectionChange)="filterPriority()">
                    <mat-option value="">{{ 'tasks.header.filters.all' | translate }}</mat-option>
                    @for(priority of priorityEntries;track $index){
                        <mat-option [value]="priority[1]">{{priority[1]}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field id="tasksStatusFilter">
                <mat-label>{{ 'tasks.header.filters.status' | translate }}</mat-label>
                <mat-select [(value)]="selectedStatus" (selectionChange)="filterStatus()">
                    <mat-option value="">{{ 'tasks.header.filters.all' | translate }}</mat-option>
                    @for(statusEntry of taskStatusEntries;track $index){
                        <mat-option [value]="statusEntry[1]">{{statusEntry[1]}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <div class="addTaskBtn" (click)="handleAdd()">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                    fill="#1f1f1f">
                    <path d="M444-444H240v-72h204v-204h72v204h204v72H516v204h-72v-204Z" />
                </svg>
            </div>
        </div>
    </div>
    <table datatable [dtOptions]="dtOptions" id="taskList" class="display table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'tasks.table.title' | translate }}</th>
                <th scope="col">{{ 'tasks.table.assignee' | translate }}</th>
                <th scope="col">{{ 'tasks.table.status' | translate }}</th>
                <th scope="col">{{ 'tasks.table.priority' | translate }}</th>
                <th scope="col">{{ 'tasks.table.dueDate' | translate }}</th>
                <th scope="col">{{ 'tasks.table.actions' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            @for(task of taskArr;track $index){
            <tr>
                <th scope="row">{{ $index+1 }}</th>
                <td>{{ task.title }}</td>
                <td>{{ ( task.assignee.hasOwnProperty('name') && task.assignee.name) || 'tasks.table.anonymous' | translate }}</td>
                <td>{{ taskStatus[task.status] }}</td>
                <td>{{ priority[task.priority] }}</td>
                <td>{{ task.dueDate | ngbDate }}</td>
                <td>
                    <button (click)="handleEdit(task._id)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                            fill="#1f1f1f">
                            <path
                                d="M216-216h51l375-375-51-51-375 375v51Zm-72 72v-153l498-498q11-11 23.84-16 12.83-5 27-5 14.16 0 27.16 5t24 16l51 51q11 11 16 24t5 26.54q0 14.45-5.02 27.54T795-642L297-144H144Zm600-549-51-51 51 51Zm-127.95 76.95L591-642l51 51-25.95-25.05Z" />
                        </svg>
                    </button>
                    <button (click)="handleDelete(task.title,task._id)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                            fill="#1f1f1f">
                            <path
                                d="M312-144q-29.7 0-50.85-21.15Q240-186.3 240-216v-480h-48v-72h192v-48h192v48h192v72h-48v479.57Q720-186 698.85-165T648-144H312Zm336-552H312v480h336v-480ZM384-288h72v-336h-72v336Zm120 0h72v-336h-72v336ZM312-696v480-480Z" />
                        </svg>
                    </button>
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    }
</main>
<!-- {{tasks$|async|json}} -->